
# To use this template, fill each variable value with appropriate data
# and save file as 'conf.py'

# Database URL
server=

# Database port
port=

# Database name
db=

# Database login information for writing changes to database
writer_username=
writer_password=

# Database login information for reading only from database
reader_username=
reader_password=

# Excel home directory
excel_home=

# Excel file to parse
excel_file=
